## Re-identification/De-identification

Read a configuration file containing integers that correspond to column numbers in the
dataset. Each integer represents a quasi-identifier.

In [3]:
def read_config(config_file):
    with open(config_file) as file:
        identifiers = [int(q) for q in file.read().split()]
    file.close()
    return sorted(identifiers)

### Import data

In [4]:
import pandas as pd

In [5]:
NA_FILL_VALUE = 0

In [6]:
df_raw = pd.read_csv("mid_sample_set.csv", dtype='unicode')
df_raw.index = df_raw.user_id
df_raw = df_raw.drop('user_id', axis = 1)

In [7]:
# Remove NA columns
original_columns = set(df_raw.columns.values)
df = df_raw.dropna(axis = 1, how = 'all').fillna(NA_FILL_VALUE)
new_columns = set(df.columns.values)
print("Removed columns", original_columns - new_columns)

Removed columns {'roles_isLibrary', 'roles_isCCX', 'forumRoles_isCommunityTA'}

In [8]:
df.shape

(199999, 87)

### Direct Identifiers
- Can uniquely identify an individual and should be removed
- This includes ip

In [9]:
df = df.drop('ip', axis = 1)

### Quasi-Identifiers
- Can uniquely identify an individual when linked to other datasets. 
- These include: 'course_id', 'user_id', 'countryLabel', 'continent', 'city', 'region', 'subdivision', 'postalCode', 'LoE', 'YoB', 'gender', 'nforum_posts', 'nforum_votes', 'nforum_endorsed', 'nforum_threads', 'nforum_comments', 'nforum_pinned', and 'nforum_events', and are listed as their corresponding column index in the configuration file.
- Create a version of the dataset that only contains the quasi-identifiers.

In [10]:
quasi_identifiers = read_config("config_file.txt")
df_quasi = df.iloc[:,quasi_identifiers]
labels = list(df_quasi.columns.values)
# Remove user_id because it's not a quasi-identifier, just a key
quasi_identifier_labels = list(set(labels) - set(["user_id"]))

In [11]:
def getAnonCompletionRates(df, quasi_identifier_labels, k):
    if 'course_id' not in quasi_identifier_labels:
        quasi_identifier_labels.append('course_id')
    
    k_anonymous = df.groupby(quasi_identifier_labels)\
                  .size().reset_index(name = 'ct').set_index(quasi_identifier_labels)
    k_anonymous = k_anonymous[k_anonymous.ct >= k]
    
    completedCount = df.groupby(quasi_identifier_labels + ['completed'])\
                       .size()\
                       .reset_index(name = "completedCount")\
                       .set_index(quasi_identifier_labels)
    
    k_anonymous = k_anonymous.reset_index()\
                  .merge(completedCount[completedCount.completed == 'True'].reset_index(), how = "left")
        
    print("Size of %d-anonymous dataset: %d" % (k, k_anonymous.ct.sum()))
    
    k_AnonTotalCounts = k_anonymous.groupby('course_id')["ct"].sum()\
                                   .reset_index(name = "numStudents")\
                                   .set_index('course_id')
    
    completionRates = ((k_anonymous.set_index('course_id').completedCount.fillna(0)
                        / k_AnonTotalCounts.numStudents).fillna(0) * 100)\
                        .reset_index(name = "completionRate")\
                        .sort_values(by = "completionRate", ascending = False)
    
    if len(k_anonymous) == 0: 
        completionRates.completionRate = 0
    
    return completionRates

When k = 3

In [12]:
completionRate3Anon = getAnonCompletionRates(df, quasi_identifier_labels, 3)

Size of 3-anonymous dataset: 14741

In [13]:
completionRate3Anon.head()

                    course_id  completionRate
1400  HarvardX/HKS101A/2015T3        0.403226
214    HarvardX/CS50x/2014_T1        0.024631
773    HarvardX/CS50x/2014_T1        0.024631
299    HarvardX/CS50x/2014_T1        0.024631
723    HarvardX/CS50x/2014_T1        0.024631

When k = 4

In [14]:
completionRate4Anon = getAnonCompletionRates(df, quasi_identifier_labels, 4)

Size of 4-anonymous dataset: 11096

In [15]:
completionRate4Anon.head()

                   course_id  completionRate
758  HarvardX/HKS101A/2015T3        0.549451
365   HarvardX/CS50x/2014_T1        0.033256
122   HarvardX/CS50x/2014_T1        0.033256
369   HarvardX/CS50x/2014_T1        0.033256
370   HarvardX/CS50x/2014_T1        0.033256

When k = 5

In [16]:
completionRate5Anon = getAnonCompletionRates(df, quasi_identifier_labels, 5)

Size of 5-anonymous dataset: 9072

In [17]:
completionRate5Anon.head()

                  course_id  completionRate
237  HarvardX/CS50x/2014_T1          0.0408
255  HarvardX/CS50x/2014_T1          0.0408
64   HarvardX/CS50x/2014_T1          0.0408
240  HarvardX/CS50x/2014_T1          0.0408
56   HarvardX/CS50x/2014_T1          0.0408

### Synthetic Records
- Make the data k-anonymous
- Find the number of synthetic records needed for each case
- Compute completion rates and compare to dataset without synthetic records

When k = 3

In [18]:
def addSyntheticRows(df, quasi_identifier_labels, k):
    synthetic_k_anon_df = df.reset_index()
    not_k_anonymous = synthetic_k_anon_df.groupby(quasi_identifier_labels)\
                      .size().reset_index(name = 'studentCount')
    not_k_anonymous = not_k_anonymous[not_k_anonymous.studentCount < k]

    for i in range(k):
        rowsToAdd = not_k_anonymous[not_k_anonymous.studentCount == i]
        if len(rowsToAdd) > 0:
            for j in range(k - i):
                synthetic_k_anon_df = synthetic_k_anon_df.append(rowsToAdd, ignore_index = True)
            
    rowsAdded = synthetic_k_anon_df.shape[0] - len(df)
    print("Size of synthetic dataset: %d\nSynthetic Rows Added: %d" % (len(synthetic_k_anon_df), rowsAdded))
    # Drop the studentCount column from the dataset we return because df_quasi does not
    # have it.  This column is an artifact of when we grouped synthetic_k_anon_df above
    synthetic_k_anon_df = synthetic_k_anon_df.drop("studentCount", axis = 1)
    return synthetic_k_anon_df

Add synthetic data when k = 3

In [19]:
synthetic3AnonDf = addSyntheticRows(df, quasi_identifier_labels, 3)

Size of synthetic dataset: 557594
Synthetic Rows Added: 357595

Add synthetic data when k = 4

In [20]:
synthetic4AnonDf = addSyntheticRows(df_quasi, quasi_identifier_labels, 4)

Size of synthetic dataset: 739760
Synthetic Rows Added: 539761

Add synthetic data when k = 5

In [21]:
synthetic5AnonDf = addSyntheticRows(df_quasi, quasi_identifier_labels, 5)

Size of synthetic dataset: 922432
Synthetic Rows Added: 722433

### K-Anonymity 
- Generalization
    - YoB, nform_* 
- Blurring
    - Last 3 digits of postal_code
- Suprression 
    - Remaining

In [33]:
df_quasi_copy = df.copy()

In [34]:
def blurring(df, col, lenCol):
    df_quasi_blur = df
    df_quasi_blur.loc[:,col] = df_quasi_blur.loc[:,col].astype(str).str[0:int(lenCol-3)] + "*" * 3;
    return df_quasi_blur

In [35]:
blurring(df_quasi_copy, "postalCode", 5);

In [36]:
def generalization(df, colChange, bucketSize, maxVal):
    col = colChange
    df_quasi_gen = df
    binNum = int(maxVal / bucketSize)
    bins = [bucketSize*i for i in range(NA_FILL_VALUE-1, binNum)]
    df_quasi_gen.loc[:,col] = df_quasi_gen[col].astype(int)
    df_quasi_gen.loc[:,col] = pd.cut(df_quasi_gen[col], bins)
    return df_quasi_gen

In [66]:
r = generalization(df_quasi_copy, "YoB", 10, 2019)
r = generalization(r, "nforum_posts", 10, 470)
r = generalization(r, "nforum_votes", 10, 640)
r = generalization(r, "nforum_endorsed", 10, 50)
r = generalization(r, "nforum_threads", 10, 150)
r = generalization(r, "nforum_comments", 10, 450)
r = generalization(r, "nforum_pinned", 10, 20)

ValueError: cannot convert float NaN to integer

In [43]:
lDiverse = r
lDiverse["grade"] = lDiverse["grade"]
lDiverse["passing_grade"] = lDiverse["passing_grade"]
lDiverse["passing_grade"].head()

user_id
29940    0.7
37095    0.7
45634    0.7
52234    0.7
52238    0.7
Name: passing_grade, dtype: object

In [68]:
lDiverseLevels = lDiverse.groupby(quasi_identifier_labels)["grade"]
#.reset_index(name = "Grade_Count")
lDiverseLevels
# lDiverseLevels["Grade_Count"].unique()

In [ ]:
df_quasi["completed"] = df["completed"]

In [ ]:
completionRate4Anon_GenBlurSuppress = getAnonCompletionRates(df_quasi, quasi_identifier_labels, 4)

In [ ]:
completionRate5Anon_GenBlurSuppress = getAnonCompletionRates(df_quasi, quasi_identifier_labels, 5)